<html>
  <head>
    <title>Lire un potin</title>
  </head>
  <body>
    <h1>Lire un potin !</h1>
		<h1> </h1>
    <p>Quel numéro de potin veux-tu ?</p>
    <form action='/gossips/view/' method='POST'>
      Balance son number : <input type='number' name='gossip_number'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>