<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur le comérage en follie !</h1>
    <% gossips.each do |gossip| %>
    <p>
      <%= gossip.author %> , 
      <%= gossip.content %><br/>
    </p>
    <% end %>
    <br/>
    <a href="/gossips/new/">Nouveau potin</a>
    <br/> <br/>
    <a href="/gossip/view/">Lire un potin</a>
  </body>
</html>