<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur le comérage en follie !</h1>
    <% gossips.each do |gossip| %>
    <p>
      <%= gossip.author %><br/>
      <%= gossip.content %>
    </p>
    <% end %>
    <h1> </h1>
    <a href="/gossips/new/">Nouveau potin</a>
  </body>
</html>