<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN !</h1>
    <h1> </h1>
		
    <h1>Voici la page du potin n° <%= index %>
		</h1>
    <br/>
    
    <p>
      Son hauteur : 
      <%= gossip.author %><br/>
      Le contenu du potin : 
      <%= gossip.content %><br/>
    </p>
   
   <br>
   <a href="/">Revenir au début</a>
    
  </body>
</html>